<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heisenbergtao.manualsupervivencia">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/manual1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/manual1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Informacion"></activity>
        <activity android:name=".LavadoDeManos" />
        <activity android:name=".MiFirebaseMessagingService" />
        <activity android:name=".MiFirebaseIntacedService" />
        <activity android:name=".RecuperaSoporte" />
        <activity android:name=".RecuActivos" />
        <activity android:name=".RecuJubilados" />
        <activity android:name=".RecuperarContrasena" />
        <activity android:name=".AnoMas" />
        <activity android:name=".AnoCinco" />
        <activity android:name=".AnoCuatro" />
        <activity android:name=".Anotres" />
        <activity android:name=".Anodos" />
        <activity android:name=".AnoUno" />
        <activity android:name=".Recaida" />
        <activity android:name=".ModificacionesC" />
        <activity android:name=".Tabulador" />
        <activity android:name=".CursosTecnicos" />
        <activity android:name=".Nutricion" />
        <activity android:name=".CursoBiblio" />
        <activity android:name=".CursoMedico" />
        <activity android:name=".PostEnfermeria" />
        <activity android:name=".TecnicoEnfermeria" />
        <activity android:name=".Cursos" />
        <activity android:name=".InfoPases" />
        <activity android:name=".Roluno" />
        <activity android:name=".Rol2019" />
        <activity android:name=".TramiteJubilacion" />
        <activity android:name=".Contratoss" />
        <activity android:name=".Festivos" />
        <activity android:name=".Incapacidades" />
        <activity android:name=".SeguroFacultativo" />
        <activity android:name=".Faltas" />
        <activity android:name=".PliegoTestamentario" />
        <activity android:name=".Vacasiones" />
        <activity android:name=".TxtSustis" />
        <activity android:name=".Pases" />
        <activity android:name=".ContratoColectivo" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9129010539844350~2654062237" />
    </application>

</manifest>